PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "migrations" ("id" integer primary key autoincrement not null, "migration" varchar not null, "batch" integer not null);
INSERT INTO migrations VALUES(1,'0001_01_01_000002_create_jobs_table',1);
INSERT INTO migrations VALUES(2,'0001_01_01_000000_create_users_table',2);
INSERT INTO migrations VALUES(3,'0001_01_01_000001_create_cache_table',2);
CREATE TABLE IF NOT EXISTS "jobs" ("id" integer primary key autoincrement not null, "queue" varchar not null, "payload" text not null, "attempts" integer not null, "reserved_at" integer, "available_at" integer not null, "created_at" integer not null);
CREATE TABLE IF NOT EXISTS "job_batches" ("id" varchar not null, "name" varchar not null, "total_jobs" integer not null, "pending_jobs" integer not null, "failed_jobs" integer not null, "failed_job_ids" text not null, "options" text, "cancelled_at" integer, "created_at" integer not null, "finished_at" integer, primary key ("id"));
CREATE TABLE IF NOT EXISTS "failed_jobs" ("id" integer primary key autoincrement not null, "uuid" varchar not null, "connection" text not null, "queue" text not null, "payload" text not null, "exception" text not null, "failed_at" datetime not null default CURRENT_TIMESTAMP);
CREATE TABLE IF NOT EXISTS "users" ("id" integer primary key autoincrement not null, "name" varchar not null, "google_id" varchar, "password" varchar not null, "username" varchar not null, "email" varchar not null, "email_verified_at" datetime, "user_type" varchar check ("user_type" in ('news_enthusiast', 'content_creator', 'admin')) not null default 'news_enthusiast', "account_tier" varchar check ("account_tier" in ('free', 'premium')), "profile_picture" varchar, "bio" text, "followers_count" integer not null default '0', "following_count" integer not null default '0', "language" varchar, "remember_token" varchar, "created_at" datetime, "updated_at" datetime);
INSERT INTO users VALUES(1,'danny',NULL,'$2y$12$KZqX2KB/nhgWNq28cSLZLOEV92RTGhZTdC0Gq0/JYMsC7yMNzHqOW','fkdfdfddthdz','dan@gmail.com',NULL,'news_enthusiast',NULL,NULL,NULL,0,0,NULL,NULL,'2025-05-09 06:39:03','2025-05-09 06:39:03');
CREATE TABLE IF NOT EXISTS "password_reset_tokens" ("email" varchar not null, "token" varchar not null, "created_at" datetime, primary key ("email"));
CREATE TABLE IF NOT EXISTS "sessions" ("id" varchar not null, "user_id" integer, "ip_address" varchar, "user_agent" text, "payload" text not null, "last_activity" integer not null, primary key ("id"));
CREATE TABLE IF NOT EXISTS "cache" ("key" varchar not null, "value" text not null, "expiration" integer not null, primary key ("key"));
CREATE TABLE IF NOT EXISTS "cache_locks" ("key" varchar not null, "owner" varchar not null, "expiration" integer not null, primary key ("key"));
CREATE TABLE IF NOT EXISTS "activity_log" ("id" integer primary key autoincrement not null, "log_name" varchar, "description" text not null, "subject_type" varchar, "subject_id" integer, "causer_type" varchar, "causer_id" integer, "properties" text, "created_at" datetime, "updated_at" datetime, "event" varchar, "batch_uuid" varchar);
CREATE TABLE IF NOT EXISTS "permissions" ("id" integer primary key autoincrement not null, "name" varchar not null, "guard_name" varchar not null, "created_at" datetime, "updated_at" datetime);
CREATE TABLE IF NOT EXISTS "roles" ("id" integer primary key autoincrement not null, "name" varchar not null, "guard_name" varchar not null, "created_at" datetime, "updated_at" datetime);
CREATE TABLE IF NOT EXISTS "model_has_permissions" ("permission_id" integer not null, "model_type" varchar not null, "model_id" integer not null, foreign key("permission_id") references "permissions"("id") on delete cascade, primary key ("permission_id", "model_id", "model_type"));
CREATE TABLE IF NOT EXISTS "model_has_roles" ("role_id" integer not null, "model_type" varchar not null, "model_id" integer not null, foreign key("role_id") references "roles"("id") on delete cascade, primary key ("role_id", "model_id", "model_type"));
CREATE TABLE IF NOT EXISTS "role_has_permissions" ("permission_id" integer not null, "role_id" integer not null, foreign key("permission_id") references "permissions"("id") on delete cascade, foreign key("role_id") references "roles"("id") on delete cascade, primary key ("permission_id", "role_id"));
CREATE TABLE IF NOT EXISTS "favorites" ("id" integer primary key autoincrement not null, "user_id" integer not null, "video_id" integer not null, "created_at" datetime not null default CURRENT_TIMESTAMP, foreign key("user_id") references "users"("id") on delete cascade, foreign key("video_id") references "videos"("id") on delete cascade);
CREATE TABLE IF NOT EXISTS "interests" ("id" integer primary key autoincrement not null, "name" varchar not null, "icon" varchar, "created_at" datetime not null default CURRENT_TIMESTAMP);
CREATE TABLE IF NOT EXISTS "likes" ("user_id" integer not null, "video_id" integer not null, "created_at" datetime, "updated_at" datetime, foreign key("user_id") references "users"("id") on delete cascade, foreign key("video_id") references "videos"("id") on delete cascade);
CREATE TABLE IF NOT EXISTS "comments" ("id" integer primary key autoincrement not null, "user_id" integer not null, "video_id" integer not null, "comment" text not null, "status" varchar check ("status" in ('active', 'flagged', 'removed')) default 'active', "created_at" datetime, "updated_at" datetime, foreign key("user_id") references "users"("id") on delete cascade, foreign key("video_id") references "videos"("id") on delete cascade);
CREATE TABLE IF NOT EXISTS "shares" ("id" integer primary key autoincrement not null, "user_id" integer not null, "video_id" integer not null, "shared_with_id" integer not null, "created_at" datetime, "updated_at" datetime, foreign key("user_id") references "users"("id") on delete cascade, foreign key("video_id") references "videos"("id") on delete cascade);
CREATE TABLE IF NOT EXISTS "reports" ("id" integer primary key autoincrement not null, "reporter_id" integer not null, "video_id" integer not null, "reason" varchar check ("reason" in ('misinformation', 'hate_speech', 'harassment', 'violence', 'copyright', 'other')) not null, "details" text not null, "status" varchar check ("status" in ('pending', 'under_review', 'resolved', 'dismissed')) not null default 'pending', "admin_id" integer, "created_at" datetime, "updated_at" datetime, foreign key("reporter_id") references "users"("id") on delete cascade, foreign key("video_id") references "videos"("id") on delete cascade, foreign key("admin_id") references "users"("id") on delete set null);
CREATE TABLE IF NOT EXISTS "video_interests" ("video_id" integer not null, "interest_id" integer not null, "created_at" datetime, "updated_at" datetime, foreign key("video_id") references "videos"("id") on delete cascade, foreign key("interest_id") references "interests"("id") on delete cascade, primary key ("video_id", "interest_id"));
CREATE TABLE IF NOT EXISTS "follows" ("follower_id" integer not null, "following_id" integer not null, "created_at" datetime, "updated_at" datetime, foreign key("follower_id") references "users"("id") on delete cascade, foreign key("following_id") references "users"("id") on delete cascade, primary key ("follower_id", "following_id"));
CREATE TABLE IF NOT EXISTS "user_interests" ("user_id" integer not null, "interest_id" integer not null, "created_at" datetime not null default CURRENT_TIMESTAMP, foreign key("user_id") references "users"("id") on delete cascade, foreign key("interest_id") references "interests"("id") on delete cascade, primary key ("user_id", "interest_id"));
CREATE TABLE IF NOT EXISTS "recommendations" ("id" integer primary key autoincrement not null, "user_id" integer not null, "video_id" integer not null, "algorithm_version" varchar, "score" float, "reason" varchar check ("reason" in ('interest', 'match', 'following', 'trending', 'popular', 'history_based', 'favorites_based', 'high_credibility')) not null, "created_at" datetime, "updated_at" datetime, foreign key("user_id") references "users"("id") on delete cascade, foreign key("video_id") references "videos"("id") on delete cascade);
CREATE TABLE IF NOT EXISTS "watch_histories" ("id" integer primary key autoincrement not null, "user_id" integer not null, "video_id" integer not null, "watched_seconds" integer not null default '0', "credibility_score" float, "last_watched_at" datetime not null default CURRENT_TIMESTAMP, foreign key("user_id") references "users"("id") on delete cascade, foreign key("video_id") references "videos"("id") on delete cascade);
CREATE TABLE IF NOT EXISTS "moderation_actions" ("id" integer primary key autoincrement not null, "admin_id" integer not null, "video_id" integer, "comment_id" integer, "user_id" integer, "action" varchar check ("action" in ('approve_video', 'reject_video', 'remove_comment', 'ban_user', 'warning', 'credibility_adjustment')) not null, "reason" text, "duration_days" integer, "created_at" datetime, "updated_at" datetime, foreign key("admin_id") references "users"("id") on delete cascade, foreign key("video_id") references "videos"("id") on delete cascade, foreign key("comment_id") references "comments"("id") on delete cascade, foreign key("user_id") references "users"("id") on delete cascade);
CREATE TABLE IF NOT EXISTS "notifications" ("id" integer primary key autoincrement not null, "user_id" integer not null, "type" varchar check ("type" in ('video_reported', 'video_approved', 'comment_flagged', 'new_follower', 'engagement_update', 'credibility_alert')) not null, "reference_id" integer, "title" varchar not null, "message" text, "thumbnail_url" varchar, "is_read" tinyint(1) not null default '0', "email_sent" tinyint(1) not null default '0', "created_at" datetime, "updated_at" datetime, foreign key("user_id") references "users"("id") on delete cascade);
CREATE TABLE IF NOT EXISTS "personal_access_tokens" ("id" integer primary key autoincrement not null, "tokenable_type" varchar not null, "tokenable_id" integer not null, "name" varchar not null, "token" varchar not null, "abilities" text, "last_used_at" datetime, "expires_at" datetime, "created_at" datetime, "updated_at" datetime);
INSERT INTO personal_access_tokens VALUES(1,'App\Models\User',1,'video-news-token','513c410d0dbae1281ebca6b0af48fd7ea70556456eebfd6400cdb1e3ab6079f7','["*"]','2025-05-09 08:29:39',NULL,'2025-05-09 06:39:28','2025-05-09 08:29:39');
INSERT INTO personal_access_tokens VALUES(2,'App\Models\User',1,'video-news-token','15062b0bd19048495cf800153c6a80d9f81dfdf37a90071ee7dccf39c6a81816','["*"]',NULL,NULL,'2025-05-09 08:33:40','2025-05-09 08:33:40');
INSERT INTO personal_access_tokens VALUES(3,'App\Models\User',1,'video-news-token','e023c3a827c231ca1965ddf837c469a1675e730839e79ed78d2d52279c293d58','["*"]',NULL,NULL,'2025-05-09 08:34:14','2025-05-09 08:34:14');
CREATE TABLE IF NOT EXISTS "videos" ("id" integer primary key autoincrement not null, "user_id" integer not null, "title" varchar not null, "name" varchar not null, "description" text, "transcribed_text" text, "url" varchar, "path" varchar, "thumbnail_path" varchar, "audio_file" varchar, "audio_path" varchar, "audio_url" varchar, "file" varchar not null, "thumbnail_url" varchar, "duration_seconds" integer, "is_premium" tinyint(1) not null default '0', "credibility_score" float, "last_credibility_check" datetime, "status" varchar check ("status" in ('pending', 'approved', 'rejected')) not null default 'pending', "reviewed_by" integer, "allow_likes" tinyint(1) not null default '1', "allow_comments" tinyint(1) not null default '1', "allow_shares" tinyint(1) not null default '1', "like_count" integer not null default '0', "comment_count" integer not null default '0', "share_count" integer not null default '0', "view_count" integer not null default '0', "created_at" datetime, "updated_at" datetime, foreign key("user_id") references "users"("id") on delete cascade, foreign key("reviewed_by") references "users"("id") on delete set null);
INSERT INTO videos VALUES(1,1,'news','videeeeN.mp4','newsflflfl;fg',NULL,'http://127.0.0.1:8000/storage/uploads/testuploads/videeeeN.mp4','uploads/testuploads/videeeeN.mp4',NULL,NULL,NULL,NULL,'videeeeN.mp4',NULL,NULL,0,NULL,NULL,'pending',NULL,1,1,1,0,0,0,0,'2025-05-09 06:41:40','2025-05-09 06:41:40');
INSERT INTO videos VALUES(2,1,'news','videeeeNN.mp4','newsflflfl;fg',NULL,'http://127.0.0.1:8000/storage/uploads/testuploads/videeeeNN.mp4','uploads/testuploads/videeeeNN.mp4',NULL,NULL,NULL,NULL,'videeeeNN.mp4',NULL,NULL,0,NULL,NULL,'pending',NULL,1,1,1,0,0,0,0,'2025-05-09 06:57:22','2025-05-09 06:57:22');
INSERT INTO videos VALUES(3,1,'news','videeeekk.mp4','newsflflfl;fg',NULL,'http://127.0.0.1:8000/storage/uploads/testuploads/videeeekk.mp4','uploads/testuploads/videeeekk.mp4',NULL,NULL,NULL,NULL,'videeeekk.mp4',NULL,NULL,0,NULL,NULL,'pending',NULL,1,1,1,0,0,0,0,'2025-05-09 07:12:12','2025-05-09 07:12:12');
INSERT INTO sqlite_sequence VALUES('migrations',22);
INSERT INTO sqlite_sequence VALUES('users',1);
INSERT INTO sqlite_sequence VALUES('personal_access_tokens',4);
CREATE INDEX "jobs_queue_index" on "jobs" ("queue");
CREATE UNIQUE INDEX "failed_jobs_uuid_unique" on "failed_jobs" ("uuid");
CREATE UNIQUE INDEX "users_username_unique" on "users" ("username");
CREATE UNIQUE INDEX "users_email_unique" on "users" ("email");
CREATE INDEX "sessions_user_id_index" on "sessions" ("user_id");
CREATE INDEX "sessions_last_activity_index" on "sessions" ("last_activity");
CREATE INDEX "subject" on "activity_log" ("subject_type", "subject_id");
CREATE INDEX "causer" on "activity_log" ("causer_type", "causer_id");
CREATE INDEX "activity_log_log_name_index" on "activity_log" ("log_name");
CREATE UNIQUE INDEX "permissions_name_guard_name_unique" on "permissions" ("name", "guard_name");
CREATE UNIQUE INDEX "roles_name_guard_name_unique" on "roles" ("name", "guard_name");
CREATE INDEX "model_has_permissions_model_id_model_type_index" on "model_has_permissions" ("model_id", "model_type");
CREATE INDEX "model_has_roles_model_id_model_type_index" on "model_has_roles" ("model_id", "model_type");
CREATE UNIQUE INDEX "favorites_user_id_video_id_unique" on "favorites" ("user_id", "video_id");
CREATE INDEX "favorites_video_id_index" on "favorites" ("video_id");
CREATE UNIQUE INDEX "interests_name_unique" on "interests" ("name");
CREATE UNIQUE INDEX "likes_user_id_video_id_unique" on "likes" ("user_id", "video_id");
CREATE INDEX "likes_video_id_index" on "likes" ("video_id");
CREATE INDEX "comments_video_id_index" on "comments" ("video_id");
CREATE INDEX "comments_status_index" on "comments" ("status");
CREATE INDEX "comments_user_id_video_id_index" on "comments" ("user_id", "video_id");
CREATE INDEX "shares_shared_with_id_index" on "shares" ("shared_with_id");
CREATE INDEX "reports_video_id_index" on "reports" ("video_id");
CREATE INDEX "reports_status_index" on "reports" ("status");
CREATE INDEX "reports_created_at_index" on "reports" ("created_at");
CREATE INDEX "reports_reporter_id_created_at_index" on "reports" ("reporter_id", "created_at");
CREATE INDEX "follows_following_id_index" on "follows" ("following_id");
CREATE INDEX "user_interests_interest_id_index" on "user_interests" ("interest_id");
CREATE INDEX "recommendations_user_id_created_at_index" on "recommendations" ("user_id", "created_at");
CREATE UNIQUE INDEX "watch_histories_user_id_video_id_unique" on "watch_histories" ("user_id", "video_id");
CREATE INDEX "watch_histories_user_id_index" on "watch_histories" ("user_id");
CREATE INDEX "watch_histories_video_id_index" on "watch_histories" ("video_id");
CREATE INDEX "watch_histories_last_watched_at_index" on "watch_histories" ("last_watched_at");
CREATE INDEX "moderation_actions_admin_id_index" on "moderation_actions" ("admin_id");
CREATE INDEX "moderation_actions_video_id_index" on "moderation_actions" ("video_id");
CREATE INDEX "moderation_actions_comment_id_index" on "moderation_actions" ("comment_id");
CREATE INDEX "moderation_actions_user_id_index" on "moderation_actions" ("user_id");
CREATE INDEX "moderation_actions_action_index" on "moderation_actions" ("action");
CREATE INDEX "moderation_actions_created_at_index" on "moderation_actions" ("created_at");
CREATE INDEX "notifications_user_id_index" on "notifications" ("user_id");
CREATE INDEX "notifications_type_index" on "notifications" ("type");
CREATE INDEX "notifications_is_read_index" on "notifications" ("is_read");
CREATE INDEX "personal_access_tokens_tokenable_type_tokenable_id_index" on "personal_access_tokens" ("tokenable_type", "tokenable_id");
CREATE UNIQUE INDEX "personal_access_tokens_token_unique" on "personal_access_tokens" ("token");
COMMIT;
